*.class
/target/
*.prefs
*.component
*.jar
ict/cotizaOnlineReport/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
ict/cotizaOnlineReport/.settings/org.eclipse.wst.common.project.facet.core.xml
*.lst
ict/ictWeb/.metadata/src/main/webapp/WEB-INF/faces-config.pageflow
ict/ictCommon/target/classes/META-INF/MANIFEST.MF
ict/.metadata/version.ini
ict/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
ict/.metadata/.plugins/org.eclipse.ui.intro/introstate
ict/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
ict/.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
ict/.metadata/.plugins/org.eclipse.rse.ui/.log
ict/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.devap_31/node.properties
ict/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.devap_31/H.local_16/node.properties
ict/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.devap_31/FP.local.files_0/node.properties
ict/.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
ict/.metadata/.plugins/org.eclipse.rse.core/.log
ict/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
ict/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
ict/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.8.2.20171007-0217.xml
ict/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
ict/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
ict/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
ict/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
ict/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
ict/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
ict/.metadata/.plugins/org.eclipse.jdt.core/index.db
ict/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
ict/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
ict/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
ict/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/write.lock
ict/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/segments_1
ict/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.si
ict/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.cfs
ict/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.cfe
ict/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache.lucene60/write.lock
ict/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache.lucene60/segments_1
ict/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
ict/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
ict/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
ict/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
ict/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
ict/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
ict/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
ict/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
ict/.metadata/.mylyn/repositories.xml.zip
ict/.metadata/.log
ict/.metadata/.lock
ict/ictCommon/.project
ict/ictLogic/.project
ict/ictModel/.project
ict/.project
ict/ictCommon/target/classes/META-INF/maven/cl.devap.ictCommon/ictCommon/pom.properties
ict/ictCommon/target/classes/META-INF/maven/cl.devap.ictCommon/ictCommon/pom.xml
ict/ictLogic/target/classes/META-INF/maven/cl.devap.ictLogic/ictLogic/pom.properties
ict/ictLogic/target/classes/META-INF/maven/cl.devap.ictLogic/ictLogic/pom.xml
ict/ictModel/target/classes/META-INF/maven/cl.devap.ictModel/ictModel/pom.xml
ict/ictModel/target/classes/META-INF/maven/cl.devap.ictModel/ictModel/pom.properties
ict/ictModel/bin/META-INF/persistence.xml
ict/ictModel/bin/META-INF/MANIFEST.MF
